
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Editorial</th>
            <th>Categoria</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.code}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.editorial}}</td>
            <td>{{book.category}}</td>
        </tr>
    </tbody>
</table>